{% extends "MusicX/base.html" %}
{% block title %}About Us{% endblock title %}

{% block body %}
<body class="about">
<main>
    <section class="about-us">
        <h1>About Us</h1>
        <p>musicX is a website dedicated to all types of music. Our mission is to provide a platform for artists to share their music and connect with their fans. We offer a wide range of services, including music distribution, marketing, and promotion. Our team consists of experienced musicians, music producers, and music journalists who are dedicated to promoting all types of music and supporting emerging artists.</p>
        <p>Our history began in 2024 when Aniket Nehe, a music lover with a passion for promoting new talent, founded musicX. Since then, we have grown into a community of music lovers from all around the world. Our team has worked with some of the biggest names in all types of music, and we are committed to supporting emerging artists and helping them succeed.</p>
        <p>Our vision is to create a world where all types of music are celebrated and appreciated by people from all walks of life. We believe that music has the power to bring people together and create a sense of community. Our goal is to provide a platform for artists to share their music and connect with their fans, and to promote all types of music to a wider audience.</p>
    </section>
    <section class="join-us">
        <h2>Join Our Community</h2>
        <p>If you love all types of music and want to be a part of our community, we invite you to join us. You can follow us on social media, sign up for our newsletter, or become a member of our forum. We welcome artists, fans, and music lovers of all kinds, and we look forward to connecting with you.</p>
        <!-- Add your social media icons and sign-up form here -->
        <div class="social-media">
            <a href="#"><img src="/static/MusicX/images/facebook.png" alt="Facebook" width="50px" height="50px"></a>
            <a href="#"><img src="/static/MusicX/images/twitter.png" alt="Twitter" width="50px" height="50px"></a>
            <a href="#"><img src="/static/MusicX/images/instagram.png" alt="Instagram" width="50px" height="50px"></a>
        </div>
    </section>
</main>
</body>
{% endblock %}


   